@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Merriweather+Sans&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: "Merriweather", "Sans" 
}

body {
  margin-left: 325px;
  background: whitesmoke;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containe {
  height: 100%;
  width: 100%;
  margin: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 768px) {
  body {
    margin-left: 200px;
    width: 500px;
  }
}
